{% extends 'layout.html'%}

{% block title %}
    Messages
{% endblock%}


{% block body %}


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/message">Message</a>
    <a href="/topic">Topic</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

<h1 class="headerMessage">Pending Messages</h1>
<div class="content">


<ul>

    {%for i in range(0, len)%}
        <li>{{messageList[i]}}
            <button type="edit">Edit <i class="fa-thin fa-pen-to-square"></i></button>
            <h3> from someone</h3>
                       
        </li>
    {%endfor%}
    
    
    </ul>

</div>






{% endblock %}