{% extends 'layout.html'%}

{% block title%}
Dashboard
{% endblock%}


{% block body%}


        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/message">Message</a>
            <a href="/topic">Topic</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
          </div>
          
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            







   
{% endblock%}